# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
src
/.gradle/
/.idea/
/.settings/
/access-module-api/.project
/access-module-api/.classpath
/access-module-api/.settings/
/access-module-api/bin/
/access-module-api/.gradle/