.content{
	padding: 5px;
}

.footer{
	padding: 5px;
	text-align: center;
	font-size: small;
}

.remove-dialog{
	width: 250px;
	height: 150px;
}

.remove-dialog-link{
	cursor: pointer;
	text-decoration: underline;
}