body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
.content{
	padding: 5px;
}

.footer{
	padding: 5px;
	text-align: center;
	font-size: small;
}

.ui-icon{
	float: left;
}

.remove-dialog{
	width: 250px;
	height: 150px;
}

.remove-dialog-link{
	cursor: pointer;
	text-decoration: underline;
}