@charset "UTF-8";
/* CSS Document */
body{
	margin:0;
	padding:0;
}

.menu{
	height:28px;
	width:100%;
	background-image: url('../img/dark-brown.jpg');
	background-repeat: repeat-y;
}

.menu a{
	color: white;
	font-size: large;
}