@charset "UTF-8";

body {
	margin: 0;
	padding: 25px;
}

table { 
	border-collapse: collapse; 
	border-spacing: 0; 
	width: 90%;
	font-family:sans-serif;
	font-size: 10px;
}

th, td { padding: 5px; }

.doc-head{
	font-weight: bolder;
	text-align: left;
	font-size: 44px;
	font-family: arial;
	color: orange;
	vertical-align: top;
}