<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
    <script type="text/javascript">
    	function onprint()
    	{
    		window.print();
    	}
    </script>
	<style type="text/css" media="screen,print">
		body{
			font: normal 12px arial;
		}
		
		table{
			padding: 0;
			margin: 0;
			border: 0;
			width: 100%;
		}
		
		.printspan{
			cursor: pointer;
		}
		
		@media print{
			.printspan{
				display: none;
			}
		}
	</style>
</head>
<body th:inline="text">
	<table>
		<tr>
			<td align="center" th:text="${billable.organization.name}"/>
		</tr>
		<tr th:each="address : ${billable.organization.addresses}">
			<td align="center" colspan="2">[[${address.address}]]&nbsp;[[${address.city.name}]]&nbsp;[[${address.postal}]]</td>
		</tr>
		<tr th:each="contact : ${billable.organization.contacts}">
			<td align="center" colspan="2">[[${contact.contact}]]</td>
		</tr>
	</table>
	<table cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th align="left" style="border-top: solid black 1px;border-bottom: solid black 1px;">Product</th>
			<th style="border-top: solid black 1px;border-bottom: solid black 1px;">Quantity</th>
			<th style="border-top: solid black 1px;border-bottom: solid black 1px;">UoM</th>
			<th align="right" style="border-top: solid black 1px;border-bottom: solid black 1px;">Price</th>
			<th align="right" style="border-top: solid black 1px;border-bottom: solid black 1px;">Total</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="line : ${billable.items}">
			<td>[[${line.resource}]]</td>
			<td align="center">[[${#numbers.formatDecimal(line.quantity,1,'COMMA',0,'POINT')}]]</td>
			<td align="center">[[${line.measure}]]</td>
			<td align="right">[[${#numbers.formatDecimal(line.unitPrice,1,'COMMA',0,'POINT')}]]</td>
			<td align="right">[[${#numbers.formatDecimal(line.unitPrice*line.quantity,1,'COMMA',0,'POINT')}]]</td>
		</tr>
	<tr>
		<td colspan="4" align="right" style="border-top: solid black 1px;font-weight: bold;">Sub total</td>
		<td align="right" style="border-top: solid black 1px;font-weight: bold;padding: 2px;" th:text="${#numbers.formatDecimal(billable.billingAmount,1,'COMMA',0,'POINT')}"/>
	</tr>
	<tr>
		<td colspan="4" align="right" style="font-weight: bold;">[[${billable.tax.name}]]</td>
		<td align="right" style="font-weight: bold;padding: 2px;" th:text="${#numbers.formatDecimal(billable.taxAmount,1,'COMMA',0,'POINT')}"/>
	</tr>
	<tr>
		<td  colspan="4" align="right" style="font-weight: bold;">Total</td>
		<td align="right" style="border-bottom: solid black 1px;font-weight: bold;padding: 2px;'" th:text="${#numbers.formatDecimal(billable.billingAmount+billable.taxAmount,1,'COMMA',0,'POINT')}"/>
	</tr>
	<tr>
		<td align="center" colspan="5">
			<img class="printspan" th:src="@{/icons/print.png}" alt="" onclick="onprint()"/>
		</td>
	</tr>
	<tr><td colspan="2">&nbsp;</td></tr>
	</tbody>
	</table>
</body>
</html>