<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
    <script type="text/javascript">
    	function onprint()
    	{
    		window.print();
    	}
    </script>
	<style type="text/css" media="screen">
		body{
			font-family:serif;
			font-size:6px
			margin: 0;
			padding: 0;
		}
		
		.tclass{
			border:0px;
			width: 100%;
			margin: 0;
			padding: 0;
		}
		
		.tdheadclass{
			border-top: solid black 1px;
			border-bottom: solid black 1px;
			font-weight: bold;
		}
		
		.printspan{
			cursor: pointer;
		}
	</style>
	<style type="text/css" media="print">
		body{
			font-family:serif;
			font-size:6px
			margin: 0;
			padding: 0;
		}
		
		.printspan{
			display: none;
		}
	</style>
</head>
<body th:inline="text">
	<table class="tclass">
	<thead>
	<tr>
		<td align="center" colspan="2" th:text="${sales.organization.name}"/>
	</tr>
	</thead>
	<tbody>
	<tr th:each="line : ${lines}">
		 <td colspan="2">
		 	<table style="width: 100%">
		 	<tr>
		 		<td colspan="2" align="left">[[${line.resource.name}]]</td>
		 	</tr>
		 	<tr>
		 		<td align="left" style="width: 80%">
		 		[[${#numbers.formatDecimal(line.value,1,'COMMA',0,'POINT')}]]
		 		x
		 		[[${#numbers.formatDecimal(line.price,1,'COMMA',0,'POINT')}]]
		 		</td>
		 		<td align="right" style="width: 20%">[[${#numbers.formatDecimal(line.price*line.value,1,'COMMA',0,'POINT')}]]</td>
		 	</tr>
		 	</table>
		 </td>
	</tr>
	<tr>
		<td align="right" colspan="2" style="border-top: solid black 1px;font-weight: bold;" th:text="${#numbers.formatDecimal(sales.bill,1,'COMMA',0,'POINT')}"/>
	</tr>
	<tr>
		<td align="left" style="font-weight: bold;">[[${sales.tax.name}]]</td>
		<td align="right" style="font-weight: bold;" th:text="${#numbers.formatDecimal(sales.taxAmount,1,'COMMA',0,'POINT')}"/>
	</tr>
	<tr>
		<td align="right" colspan="2" style="border-bottom: solid black 1px;font-weight: bold;" th:text="${#numbers.formatDecimal(sales.totalBill,1,'COMMA',0,'POINT')}"/>
	</tr>
	</tbody>
	<tfoot>
	<tr>
		<td align="center" colspan="2">
			<img class="printspan" th:src="@{/icons/print.png}" alt="" onclick="onprint()"/>
		</td>
	</tr>
	</tfoot>
	</table>
</body>
</html>