<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:inline='text'>
	<meta charset="UTF-8"/>
	<script type="text/javascript">
    	function onprint()
    	{
    		window.print();
    	}
    </script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/print-report.css}"/>
</head>
<body th:inline="text">
	<table id='outer'>
	<tr>
		<td width="100%" align="center">
			<span id='toolbar'><img th:src="@{/icons/print.png}" onclick="onprint()"/></span>
		</td>
	</tr>
	<tr>
		<td id='comp-title'>[[${company.name}]]</td>
	</tr>
	<tr>
		<td id='comp-title'>[[${title}]]</td>
	</tr>
	<tr>
		<td id='comp-title'>Periode: [[${#dates.format(start,'dd/MM/yyyy')}]] - [[${#dates.format(end,'dd/MM/yyyy')}]]</td>
	</tr>
	<tr>
		<td>
			<table id='content'>
			<thead>
			<tr id='black'>
				<th>[[${date}]]</th>
				<th>[[${product}]]</th>
				<th>[[${amount}]]</th>
			</tr>
			</thead>
			<tbody>
			<th:block th:each="content:${contents}">
			<tr>
				<td width="70%" align="left">[[${content.date}]]</td>
				<td width="10%" align="right">Tuslah/Etiket</td>
				<td width="10%" align="right">[[${content.tuslah}]]</td>
			</tr>
			<tr th:each="item:${content.items}">
				<td width="70%" align="left">&nbsp;</td>
				<td width="10%" align="right">[[${item.product}]]</td>
				<td width="10%" align="right">[[${item.price}]]</td>
			</tr>
			<tr id="black-total">
				<td width="70%" align="left">&nbsp;</td>
				<td width="10%" align="right">&nbsp;</td>
				<td width="10%" align="right">[[${total}]]</td>
			</tr>
			</th:block>
			</tbody>
			</table>
		</td>
	</tr>
	</table>
</body>
</html>