<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Currency Edit</title>
	<th:block th:include="static"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<form th:action="@{/currencys/edit}" role="form" th:object="${currency}">
	<table style="border: none;width: 100%">
	<tbody>
	<tr>
		<td align="right">Code :</td>
		<td><input type="text" th:field="${currency.code}" name="code" size="50"/></td>
	</tr>
	<tr>
		<td width="9%" align="right">Name :</td>
		<td width="91%"><input type="text" th:field="${currency.name}" name="name" size="50"/></td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="hidden" th:field="${currency.id}" th:value="${currency.id}"/>
			<button type="submit" style="width:50%;">Save</button>
		</td>
	</tr>
	</tbody>
	</table>
	</form>
	</div>
	<th:block th:include="footer"/>
</body>
</html>