<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Currency</title>
	<th:block th:include="static"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
		<h2>Currency Management</h2>
		<div><a th:href="@{/currencys/preadd}">New Currency</a></div>
		<table class="pure-table pure-table-bordered pure-table-striped">
	    <thead>
	    <tr>
	    	<th>Code</th>
	        <th>Name</th>
	    	<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
		<tr th:each="currency:${currencys}">
	        <td th:text="${currency.code}">tdx</td>
	        <td th:text="${currency.name}">tdx</td>
	        <td>
	        	<a th:href="@{'/currencys/preedit/'+${currency.id}}">Edit</a>
	        	&nbsp;|&nbsp;
	        	<a class="remove-dialog-link" th:attr="target=@{'/currencys/delete/'+${currency.id}}">Delete</a>
	        </td>
	    </tr>
	    </tbody>
	    </table>
    </div>
    <th:block th:include="footer"/>
    <th:block th:include="dialog"/>
</body>
</html>