<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Facility Form</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<fieldset>
		<div class="rcrumbs" id="breadcrumbs">
        	<ul>
            	<li><a th:href="@{/facilitys/list}">Facility Management</a><span class="divider">></span></li>
            	<li><a>Form</a></li>
        	</ul>
        </div>
		<form class="pure-form pure-form-aligned" th:action="@{/facilitys/edit}" method="post" th:object="${facility}">
			<div class="pure-control-group">
				<label>Code</label>
				<input type="text" th:field="*{code}"/>
			</div>
			<div class="pure-control-group">
				<label>Name</label>
				<input type="text" th:field="*{name}"/>
			</div>
			<div class="pure-control-group">
				<label>Type</label>
				<select name="type">
					<option th:each="type:${types}" th:selected="${facility.type == type.name()}" th:value="${type}" th:text="${type}"/>
				</select>
			</div>
			<div class="pure-controls">
				<input type="hidden" th:field="*{id}"/>
				<button type="submit" autofocus="autofocus" class="pure-button pure-button-primary">Save</button>
			</div>
			<br/>
			<div id="tabs">
			<ul>
				<li><a href="#containers">Container</a></li>
			</ul>
			<div id="containers">
				<div><a th:href="@{'/containers/preadd/'+*{id}}">New Container</a></div>
				<table class="pure-table pure-table-bordered pure-table-striped">
	    		<thead>
	    		<tr>
	    			<th>Name</th>
	    			<th>type</th>
	    			<th>&nbsp;</th>
	    		</tr>
	    		</thead>
	    		<tbody>
				<tr th:each="container:*{containers}" th:if="${not container.deleted}">
	    			<td th:text="${container.name}"/>
	        		<td th:text="${container.type}"/>
	        		<td>
	        			<a class="ui-icon ui-icon-pencil" th:href="@{'/containers/preedit/'+${id}+'/'+${container.id}}">Edit</a>
	        			<a class="remove-dialog-link ui-icon ui-icon-trash" th:attr="target=@{'/containers/delete/'+${id}+'/'+${container.id}}">Delete</a>
	        		</td>
	    		</tr>
	    		</tbody>
	    		</table>
			</div>
			</div>
		</form>
		</fieldset>
	</div>
	<th:block th:include="footer"/>
	<th:block th:include="dialog"/>
</body>
</html>