<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Facility Management</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
		<fieldset>
		<h2>Facility Management</h2>
		<div><a th:href="@{/facilitys/preadd}">New Facility</a></div>
		<table class="pure-table pure-table-bordered pure-table-striped">
	    <thead>
	    <tr>
	    	<th>Code</th>
	        <th>Name</th>
	        <th>Type</th>
	    	<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
		<tr th:each="facility:${facilitys}">
	        <td th:text="${facility.code}"/>
	        <td th:text="${facility.name}"/>
	        <td th:text="${facility.type}"/>
	        <td>
	        	<a class="ui-icon ui-icon-pencil" th:href="@{'/facilitys/preedit/'+${facility.id}}">Edit</a>
	        	<a class="remove-dialog-link ui-icon ui-icon-trash" th:attr="target=@{'/facilitys/delete/'+${facility.id}}">Delete</a>
	        </td>
	    </tr>
	    </tbody>
	    </table>
		</fieldset>
    </div>
    <th:block th:include="footer"/>
    <th:block th:include="dialog"/>
</body>
</html>