<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:inline='text'>
	<meta charset="UTF-8"/>
	<script type="text/javascript">
    	function onprint()
    	{
    		window.print();
    	}
    </script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/print-report.css}"/>
</head>
<body th:inline="text">
	<table id='outer'>
	<tr>
		<td width="100%" align="center"><span id='toolbar'><img th:src="@{/icons/print.png}" onclick="onprint()"/></span></td>
	</tr>
	<tr>
		<td id='comp-title'>[[${company.name}]]</td>
	</tr>
	<tr>
		<td id='comp-title'>[[${title}]]</td>
	</tr>
	<tr>
		<td>
			<table id='content'>
			<tbody>
			<th:block th:each="map:${contents}">
			<tr id='black-red'>
				<td colspan="3">[[${map.company.name}]]</td>
			</tr>
			<tr id='black'>
				<td>[[${date}]]</td>
				<td align="right">[[${debet}]]</td>
				<td align="right">[[${credit}]]</td>
			</tr>
			<tr><td colspan="3">&nbsp;</td></tr>
			<th:block th:each="account:${map.accounts}">
			<th:block th:if="${not #lists.isEmpty(account.postings)}" >
			<tr id='black'>
				<td colspan="3">[[${account.account.number}]]-[[${account.account.name}]]</td>
			</tr>
			<tr th:each="post:${account.postings}">
				<td width="10%" align="left">&nbsp;&nbsp;&nbsp;[[${#dates.format(post.date,'dd/MM/yyyy')}]]</td>
				<td width="5%" align="right">[[${#numbers.formatDecimal(post.debet,1,'COMMA',0,'POINT')}]]</td>
				<td width="10%" align="right">[[${#numbers.formatDecimal(post.credit,1,'COMMA',0,'POINT')}]]</td>
			</tr>
			</th:block>
			<tr><td colspan="3">&nbsp;</td></tr>
			</th:block>
			<tr><td colspan="3">&nbsp;</td></tr>
			</th:block>
			</tbody>
			</table>
		</td>
	</tr>
	</table>
</body>
</html>