<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:inline='text'>
	<meta charset="UTF-8"/>
	<script type="text/javascript">
    	function onprint()
    	{
    		window.print();
    	}
    </script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/print-report.css}"/>
</head>
<body th:inline="text">
	<table id='outer'>
	<tr>
		<td width="100%" align="center"><span id='toolbar'><img th:src="@{/icons/print.png}" onclick="onprint()"/></span></td>
	</tr>
	<tr>
		<td id='comp-title'>[[${company.name}]]</td>
	</tr>
	<tr>
		<td id='comp-title'>[[${title}]]</td>
	</tr>
	<tr>
		<td>
			<table id='content'>
			<tbody>
			<th:block th:each="map:${contents}">
			<tr id='black-red'>
				<td colspan="5">[[${map.company.name}]]</td>
			</tr>
			<tr id='black-red'>
				<td>[[${date}]]</td>
				<td>[[${note}]]</td>
				<td>[[${ref}]]</td>
				<td>[[${debet}]]</td>
				<td>[[${credit}]]</td>
			</tr>
			<th:block th:each="entry:${map.journals}">
			<tr>
				<td width="10%" align="left">[[${#dates.format(entry.date,'dd/MM/yyyy')}]]</td>
				<td align="left">[[${entry.note}]]</td>
				<td width="5%" align="center">&nbsp;</td>
				<td width="5%" align="center">&nbsp;</td>
				<td width="10%" align="right">&nbsp;</td>
			</tr>
			<tr th:each="detail:${entry.journals}">
				<td width="10%" align="left">&nbsp;</td>
				<td align="left">[[${detail.account.account.number}]]-[[${detail.account.account.name}]]</td>
				<td width="5%" align="center">[[${detail.reference}]]</td>
				<td width="5%" align="center">
					<th:block th:if="${detail.type == 'DEBET'}">
						[[${#numbers.formatDecimal(detail.amount,1,'COMMA',0,'POINT')}]]&nbsp;
					</th:block>
				</td>
				<td width="10%" align="right">
					<th:block th:if="${detail.type == 'CREDIT'}">
						[[${#numbers.formatDecimal(detail.amount,1,'COMMA',0,'POINT')}]]&nbsp;
					</th:block>
				</td>
			</tr>
			</th:block>
			<tr>
				<td colspan="5">&nbsp;</td>
			</tr>			
			</th:block>
			</tbody>
			</table>
		</td>
	</tr>
	</table>
</body>
</html>