<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8"/>
<title>Users</title>
</head>
<body>
	<div th:include="menu"></div>
	<h1>Geographic Management</h1>
	<div><a th:href="@{/geographics/preadd}">New Geographic</a></div>
	<table style="border:none;width:100%;">
    <thead>
    <tr style="background-color:#090;">
    	<td>Code</td>
        <td>Name</td>
        <td>Type</td>
    	<td colspan="2">Action</td>
    </tr>
    </thead>
    <tbody>
	<tr th:each="geographic:${geographics}">
    	<td th:text="${geographic.code}"/>
        <td th:text="${geographic.name}"/>
        <td th:text="${geographic.type}"/>
        <td>
        	<a th:href="@{'/geographics/preedit/'+${geographic.id}}">Edit</a>
        	&nbsp;|&nbsp;
        	<a th:href="@{'/geographics/delete/'+${geographic.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr style="background-color:#090;">
    	<td colspan="4">&nbsp;</td>
    </tr>
    </tfoot>
    </table>
</body>
</html>