<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Geographic Form</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="container-fluid">
		<ol class="breadcrumb">
  			<li><a href="#">General</a></li>
  			<li><a th:href="@{/geographics/list}">Geographic</a></li>
  			<li class="active">Form</li>
		</ol>
		<div class="panel panel-default">
  			<div class="panel-heading">Create new Geographic</div>
  			<div class="panel-body">
				<form class="form-horizontal" th:action="@{/geographics/add}" th:object="${geographic}">
					<div class="form-group">
				    	<label for="code" class="col-sm-2 control-label">Code</label>
				    	<div class="col-sm-10">
				      		<input type="text" class="form-control" id="code" placeholder="Geographic Code" th:field="*{code}"/>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="name" class="col-sm-2 control-label">Name</label>
				    	<div class="col-sm-10">
				      		<input type="text" class="form-control" id="name" placeholder="Geographic Name" th:field="*{name}"/>
				    	</div>
				  	</div>
				  	<div class="form-group">
				    	<label for="name" class="col-sm-2 control-label">Type</label>
				    	<div class="col-sm-10">
				      		<select class="form-control" th:field="*{type}" name="type">
								<option th:each="type:${types}" th:value="${type}" th:text="${type}"/>
							</select>
				    	</div>
				    </div>
				</form>
  			</div>
  			<div class="panel-footer clearfix">
  				<div class="pull-center">sfasfsf</div>
  			</div>
		</div>
	</div>
</body>
</html>