<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Geographic Form</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<form class="pure-form pure-form-aligned" th:action="@{/geographics/edit}" role="form" th:object="${geographic}">
		<div class="pure-control-group">
			<label for="code">Code :</label>
			<input type="text" id="code" th:field="*{code}"/>
		</div>
		<div class="pure-control-group">
			<label for="name">Name :</label>
			<input type="text" id="name" th:field="*{name}"/>
		</div>
		<div class="pure-control-group">
			<label for="type">Type :</label>
			<select th:field="*{type}" name="type">
				<option th:each="type:${types}" th:value="${type}" th:text="${type}"/>
			</select>
		</div>
		<div class="pure-controls">
			<input type="hidden" th:field="${geographic.id}" th:value="${geographic.id}"/>
			<button type="submit" class="pure-button pure-button-primary">Save</button>
		</div>
	</form>
</body>
</html>