<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<div th:include="menu"></div>
	<form th:action="@{/geographics/add}" role="form" th:object="${geographic}">
	<table style="border: none;width: 100%">
	<tbody>
	<tr>
		<td width="9%" align="right">Code :</td>
		<td width="91%"><input type="text" th:field="${geographic.code}" name="code" size="50"/></td>
	</tr>
	<tr>
		<td align="right">Name :</td>
		<td><input type="text" th:field="${geographic.name}" name="name" size="50"/></td>
	</tr>
	<tr>
		<td align="right">Type :</td>
		<td>
			<select th:field="*{type}" name="type">
				<option th:each="type:${types}" th:value="${type}" th:text="${type}"/>
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="hidden" th:field="${geographic.id}" th:value="${geographic.id}"/>
			<button type="submit" style="width:50%;">Save</button>
		</td>
	</tr>
	</tbody>
	</table>
	</form>
</body>
</html>