<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Geographic</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<h2>Geographic Management</h2>
		<div><a th:href="@{/geographics/preadd}">New Geographic</a></div>
		<table class="pure-table pure-table-bordered pure-table-striped">
    	<thead>
    	<tr>
    		<th>Code</th>
        	<th>Name</th>
        	<th>Type</th>
    		<th>&nbsp;</th>
    	</tr>
    	</thead>
    	<tbody>
		<tr th:each="geographic:${geographics}">
    		<td th:text="${geographic.code}"/>
        	<td th:text="${geographic.name}"/>
        	<td th:text="${geographic.type}"/>
        	<td>
        		<a class="ui-icon ui-icon-pencil" th:href="@{'/geographics/preedit/'+${geographic.id}}">&nbsp;</a>
        		<a class="remove-dialog-link ui-icon ui-icon-trash" th:attr="target=@{'/geographics/delete/'+${geographic.id}}">&nbsp;</a>
        	</td>
    	</tr>
    	</tbody>
    	</table>
    </div>
    <th:block th:include="footer"/>
    <th:block th:include="dialog"/>
</body>
</html>