<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Welcome To Belian</title>
	<th:block th:include="static"/>
</head>
<body>
	<div id="loginContainer" style="width: 500px;margin: 0 auto;padding-top: 100px;">
		<form class="pure-form pure-form-aligned" role="form" th:action="@{/login}" method="post">
			<div class="pure-control-group">
				<label for="code">Email :</label>
				<input type="email" id="code" name="username"/>
			</div>
			<div class="pure-control-group">
				<label for="name">Password :</label>
				<input type="password" id="name" name="password"/>
			</div>
			<div class="pure-controls">
				<button type="submit" class="pure-button pure-button-primary">Save</button>
			</div>
		</form>
	</div>
</body>
</html>