<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Module</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-content-widget">
		<h2>Module Management</h2>
		<div><a th:href="@{/modules/preadd}">New Module</a></div>
		<table class="pure-table pure-table-bordered pure-table-striped">
	    <thead>
	    <tr>
	    	<th>Code</th>
	        <th>Name</th>
	    	<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
		<tr th:each="module:${modules}">
	        <td th:text="${module.code}"/>
	        <td th:text="${module.name}"/>
	        <td>
	        	<a class="ui-icon ui-icon-pencil" th:href="@{'/modules/preedit/'+${module.id}}">Edit</a>
	        	<a class="remove-dialog-link ui-icon ui-icon-trash" th:attr="target=@{'/modules/delete/'+${module.id}}">Delete</a>
	        </td>
	    </tr>
	    </tbody>
	    </table>
    </div>
    <th:block th:include="footer"/>
    <th:block th:include="dialog"/>
</body>
</html>