<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Module Form</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<form class="pure-form pure-form-aligned" th:action="@{/modules/edit}" role="form" th:object="${module}">
		<fieldset>
		<div class="pure-control-group">
			<label for="code">Code</label>
			<input id="code" type="text" th:field="*{code}" name="code"/>
		</div>
		<div class="pure-control-group">
			<label for="name">Name</label>
			<input id="name" type="text" th:field="*{code}" name="code"/>
		</div>
		<div class="pure-controls">
			<input type="hidden" th:field="${module.id}" th:value="${module.id}"/>
			<button type="submit" class="pure-button pure-button-primary">Save</button>
		</div>
		</fieldset>
		</form>
	</div>
	<th:block th:include="footer"/>
</body>
</html>