<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Organization Form</title>
	<th:block th:include="static"/>
	<script>
		$(function() {
    		$( "#birthDate" ).datepicker({dateFormat:'dd-mm-yy'});
    	});
	</script>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<fieldset>
			<form class="pure-form pure-form-aligned" th:action="@{/organizations/add}" role="form" th:object="${organization}">
			<div class="pure-control-group">
				<label for="name">Name :</label>
				<input type="text" id="name" th:field="*{name}"/>
			</div>
			<div class="pure-control-group">
				<label for="birthDate">Birth Date :</label>
				<input type="date" id="birthDate" th:field="*{birthDate}"/>
			</div>
			<div class="pure-control-group">
				<label for="tax">Tax Code :</label>
				<input type="text" id="taxCode" th:field="*{taxCode}"/>
			</div>
			<div class="pure-controls">
				<button type="submit" class="pure-button pure-button-primary" autofocus="autofocus">Save</button>
			</div>
			</form>
		</fieldset>
	</div>
</body>
</html>