<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Organization Role Form</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<fieldset>
		<div class="rcrumbs" id="breadcrumbs">
        	<ul>
            	<li><a th:href="@{'/organizations/preedit/'+${partyId}}">Organization</a><span class="divider">></span></li>
				<li><a>Role</a><span class="divider">></span></li>
            	<li><a>Form</a></li>
        	</ul>
        </div>
		<form class="pure-form pure-form-aligned" th:action="@{'/organizationrole/add/'+${partyId}}" th:object="${role}">
			<div class="pure-control-group">
				<label for="name">Name :</label>
				<select id="name" th:fiield="*{name}" name="name" autofocus="autofocus">
					<option th:each="type:${types}" th:if="${not type.deleted}" th:value="${type.name}" th:text="${type.name}"/>
				</select>
			</div>
			<div class="pure-control-group">
				<label for="from">From Date :</label>
				<input class="dates" type="date" id="from" th:field="*{from}"/>
			</div>
			<div class="pure-control-group">
				<label for="to">To Date :</label>
				<input class="dates" type="date" id="to" th:field="*{to}"/>
			</div>
			<div class="pure-controls">
				<button type="submit" autofocus="autofocus" class="pure-button pure-button-primary">Save</button>
			</div>
		</form>
	</fieldset>
	</div>
	<th:block th:include="footer"/>
</body>
</html>