<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Party Role</title>
	<th:block th:include="static"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<h1>Party Role Type Management</h1>
	<div><a th:href="@{/partyroletypes/preadd}">New Party Role Type</a></div>

	<table class="pure-table pure-table-bordered pure-table-striped">
    <thead>
    <tr>
        <th>Name</th>
    	<th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
	<tr th:each="partyrole:${partyroletypes}" th:if="${not partyrole.deleted}">
        <td th:text="${partyrole.name}"/>
        <td>
        	<a th:href="@{'/partyroletypes/preedit/'+${partyrole.id}}">Edit</a>
        	&nbsp;|&nbsp;
        	<a th:href="@{'/partyroletypes/delete/'+${partyrole.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    <th:block th:include="footer"/>
</body>
</html>