<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Party Relationship Type</title>
	<th:block th:include="static"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<h1>Party Relationship Type Management</h1>
	<div><a th:href="@{/partyrelationshiptypes/preadd}">New Party Relationship Type</a></div>

	<table class="pure-table pure-table-bordered pure-table-striped">
    <thead>
    <tr>
        <th>Name</th>
    	<th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
	<tr th:each="partyrelationshiptype:${partyrelationshiptypes}">
        <td th:text="${partyrelationshiptype.name}"/>
        <td>
        	<a th:href="@{'/partyrelationshiptypes/preedit/'+${partyrelationshiptype.id}}">Edit</a>
        	&nbsp;|&nbsp;
        	<a th:href="@{'/partyrelationshiptypes/delete/'+${partyrelationshiptype.id}}">Delete</a>
        </td>
    </tr>
    </tbody>
    </table>
    </div>
    <th:block th:include="footer"/>
</body>
</html>