<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Party Relationship Type Form</title>
	<th:block th:include="static"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<form class="pure-form pure-form-aligned" th:action="@{/partyrelationshiptypes/edit}" role="form" th:object="${partyrelationshiptype}">
	<fieldset>
		<legend>Party Relationship Type > New</legend>
		<div class="pure-control-group">
			<label>Name</label>
			<input type="text" th:field="${partyrelationshiptype.name}" name="name" class="pure-input-1-3"/>
		</div>
		<div class="pure-controls">
			<input type="hidden" th:field="${partyrelationshiptype.id}" th:value="${partyrelationshiptype.id}"/>
			<button type="submit" class="pure-button pure-button-primary">Save</button>
		</div>
	</fieldset>
	</form>
	</div>
	<th:block th:include="footer"/>
</body>
</html>