<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Party Role</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
		<fieldset>
			<h2>Party Role Type Management</h2>
			<div><a th:href="@{/partyroletypes/preadd}">New Party Role Type</a></div>
			<table class="pure-table pure-table-bordered pure-table-striped">
		    <thead>
		    <tr>
		        <th>Name</th>
		    	<th>&nbsp;</th>
		    </tr>
		    </thead>
		    <tbody>
			<tr th:each="partyrole:${partyroletypes}" th:if="${not partyrole.deleted}">
		        <td th:text="${partyrole.name}"/>
		        <td>
		        	<a class="ui-icon ui-icon-pencil" th:href="@{'/partyroletypes/preedit/'+${partyrole.id}}">Edit</a>
		        	<a class="remove-dialog-link ui-icon ui-icon-trash" th:attr="target=@{'/partyroletypes/delete/'+${partyrole.id}}">Delete</a>
		        </td>
		    </tr>
		    </tbody>
		    </table>
		</fieldset>
	</div>
    <th:block th:include="footer"/>
    <th:block th:include="dialog"/>
</body>
</html>