<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Person Form</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<fieldset>
		<div class="rcrumbs" id="breadcrumbs">
        	<ul>
            	<li><a th:href="@{/persons/list}">List</a><span class="divider">></span></li>
            	<li><a>Form</a></li>
        	</ul>
        </div>
		<form class="pure-form pure-form-aligned" th:action="@{/persons/add}" role="form" th:object="${person}">
			<div class="pure-control-group">
				<label for="name">Name :</label>
				<input type="text" id="name" th:field="*{name}"/>
			</div>
			<div class="pure-control-group">
				<label for="birthDate">Birth Date :</label>
				<input class="dates" type="date" id="birthDate" th:field="*{birthDate}"/>
			</div>
			<div class="pure-control-group">
				<label for="gender">Gender :</label>
				<select id="gender" th:field="*{gender}" name="gender">
					<option th:each="gender:${genders}" th:value="${gender}" th:text="${gender}"/>
				</select>
			</div>
			<div class="pure-control-group">
				<label for="marital">Marital Status :</label>
				<select id="marital" th:field="*{maritalStatus}" name="maritalStatus">
					<option th:each="maritalStatus:${maritals}" th:value="${maritalStatus}" th:text="${maritalStatus}"/>
				</select>
			</div>
			<div class="pure-control-group">
				<label for="tax">Tax Code :</label>
				<input type="text" id="tax" th:field="*{taxCode}"/>
			</div>
			<div class="pure-controls">
				<input type="hidden" th:field="*{id}"/>
				<button type="submit" autofocus="autofocus" class="pure-button pure-button-primary">Save</button>
			</div>
		</form>
	</fieldset>
	</div>
	<th:block th:include="footer"/>
</body>
</html>