<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Person Form</title>
	<th:block th:include="static"/>
	<script>
		$(function() {
    		$( "#birthDate" ).datepicker({dateFormat:'dd-mm-yy'});
    	});
	</script>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<h2>Person Management</h2>
	<form class="pure-form pure-form-aligned" th:action="@{/persons/add}" role="form" th:object="${person}">
	<fieldset>
		<div class="pure-control-group">
			<label for="name">Name :</label>
			<input type="text" id="name" th:field="*{name}" name="name"/>
		</div>
		<div class="pure-control-group">
			<label for="birthDate">Birth Date :</label>
			<input type="date" id="birthDate" th:field="*{birthDate}" name="birthDate"/>
		</div>
		<div class="pure-control-group">
			<label for="gender">Gender :</label>
			<select id="gender" th:field="*{gender}" name="gender">
				<option th:each="gender:${genders}" th:value="${gender}" th:text="${gender}"/>
			</select>
		</div>
		<div class="pure-control-group">
			<label for="marital">Marital Status :</label>
			<select id="marital" th:field="*{maritalStatus}" name="maritalStatus">
				<option th:each="maritalStatus:${maritals}" th:value="${maritalStatus}" th:text="${maritalStatus}"/>
			</select>
		</div>
		<div class="pure-control-group">
			<label for="tax">Tax Code :</label>
			<input type="text" id="tax" th:field="*{taxCode}" name="taxCode"/>
		</div>
		<div class="pure-controls">
			<input type="hidden" th:field="${person.id}" th:value="${person.id}"/>
			<button type="submit" class="pure-button pure-button-primary">Save</button>
		</div>
	</fieldset>
	</form>
	</div>
	<th:block th:include="footer"/>
</body>
</html>