<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Product Component Form</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<fieldset>
		<div class="rcrumbs" id="breadcrumbs">
        	<ul>
            	<li><a th:href="@{'/products/preedit/'+${productId}}">Products</a><span class="divider">></span></li>
            	<li><a>Component</a><span class="divider">></span></li>
            	<li><a>Form</a></li>
        	</ul>
        </div>
	<form class="pure-form pure-form-aligned" th:action="@{'/productcomponents/add/'+${productId}}" method="post" th:object="${component}">
	<fieldset>
		<div class="pure-control-group">
			<label for="amount">Amount :</label>
			<input type="text" id="amount" th:field="*{amount}"/>
		</div>
		<div class="pure-control-group">
			<label for="product">Product :</label>
			<select id="product" th:field="*{productId}">
				<option th:each="product:${products}" th:value="${product.id}" th:text="${product.name}"/>
			</select>
		</div>
		<div class="pure-controls">
			<button type="submit" class="pure-button pure-button-primary" autofocus="autofocus">Save</button>
		</div>
	</fieldset>
	</form>
	</fieldset>
	</div>
	<th:block th:include="footer"/>
</body>
</html>