<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Product Form</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<form th:action="@{/products/add}" role="form" th:object="${product}">
		<fieldset>
			<div class="pure-control-groups">
				<label for="name">Name</label>
				<input id="name" type="text" th:field="*{name}" name="name"/>
			</div>
			<div class="pure-control-groups">
				<label for="code">Code</label>
				<input id="code" type="text" th:field="code" name="code"/>
			</div>
			<div class="pure-control-groups">
				<label for="rfid">Name</label>
				<input id="rfid" type="text" th:field="rfid" name="rfid"/>
			</div>
			<div class="pure-control-groups">
				<label for="type">Type</label>
				<select id="type" th:field="*{type}" name="type">
					<option th:each="type:${types}" th:value="${type}" th:text="${type}"/>
				</select>
			</div>
			<div class="pure-controls">
				<input type="hidden" th:field="${product.id}" th:value="${product.id}"/>
				<button type="submit" class="pure-button pure-button-primary">Save</button>
			</div>
		</fieldset>
	</form>
	</div>
</body>
</html>