<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Product Component Form</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
	<h1>Product Component Management</h1>
	<form class="pure-form pure-form-aligned" th:action="@{'/productcomponent/edit/'+${productId}}" method="post" th:object="${component}">
	<fieldset>
		<div class="pure-control-group">
			<label for="amount">Amount :</label>
			<input type="text" id="amount" th:field="*{amount}"/>
		</div>
		<div class="pure-control-group">
			<label for="product">Product :</label>
			<select id="product" th:field="*{productId}">
				<option th:each="product:${products}" th:value="${product.id}" th:text="${product.name}"/>
			</select>
		</div>
		<div class="pure-controls">
			<input th:field="*{id}"/>
			<button type="submit" class="pure-button pure-button-primary" autofocus="autofocus">Save</button>
		</div>
	</fieldset>
	</form>
	</div>
	<th:block th:include="footer"/>
</body>
</html>