<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Product Supplier Form</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<fieldset>
		<div class="rcrumbs" id="breadcrumbs">
        	<ul>
            	<li><a th:href="@{'/products/preedit/'+${productId}}">List</a><span class="divider">></span></li>
            	<li><a>Supplier</a><span class="divider">></span></li>
            	<li><a>Form</a></li>
        	</ul>
        </div>
		<form class="pure-form pure-form-aligned" th:action="@{'/productsuppliers/add/'+${productId}}" method="post" th:object="${supplier}">
		<div class="pure-control-group">
			<label for="from">From Date :</label>
			<input class="dates" type="date" id="from" th:field="*{from}"/>
		</div>
		<div class="pure-control-group">
			<label for="to">To Date :</label>
			<input class="dates" type="date" id="to" th:field="*{to}"/>
		</div>
		<div class="pure-control-group">
			<label for="currency">Supplier :</label>
			<select id="currency" th:field="*{partyId}">
				<option th:each="party:${suppliers}" th:value="${party.id}" th:text="${party.name}"/>
			</select>
		</div>
		<div class="pure-controls">
			<button type="submit" class="pure-button pure-button-primary" autofocus="autofocus">Save</button>
		</div>
		</form>
	</fieldset>
	</div>
	<th:block th:include="footer"/>
</body>
</html>