<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Product Price Form</title>
	<th:block th:include="static"/>
	<script>
		$(function() {
    		$( "#from" ).datepicker({dateFormat:'dd-mm-yy'});
    		$( "#to" ).datepicker({dateFormat:'dd-mm-yy'});
    	});
	</script>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
	<h2>Price for <th:block th:text="${product.name}"/></h2>
	<form class="pure-form pure-form-aligned" th:action="@{'/productprices/edit/'+${productId}}" method="post" th:object="${price}">
	<fieldset>
		<div class="pure-control-group">
			<label for="from">From Date :</label>
			<input type="date" id="from" th:field="*{from}"/>
		</div>
		<div class="pure-control-group">
			<label for="to">To Date :</label>
			<input type="date" id="to" th:field="*{to}"/>
		</div>
		<div class="pure-control-group">
			<label for="amount">Price :</label>
			<input type="text" id="amount" th:field="*{price}"/>
		</div>
		<div class="pure-control-group">
			<label for="currency">Currency :</label>
			<select id="currency" name="currencyId">
				<option th:each="currency:${currencys}" th:selected="${currency.id == price.currencyId}" th:value="${currency.id}" th:text="${currency.code}"/>
			</select>
		</div>
		<div class="pure-control-group">
			<label for="product">Type :</label>
			<select id="product" name="type">
				<option th:each="type:${types}" th:selected="${type == price.type}" th:value="${type}" th:text="${type}"/>
			</select>
		</div>
		<div class="pure-control-group">
			<label for="geo">For Geographic :</label>
			<select id="geo" name="geographicId">
				<option selected="selected" value="0"></option>
				<option th:each="geographic:${geographics}" th:selected="${geographic.id == price.geographicId}" th:value="${geographic.id}" th:text="${geographic.name}"/>
			</select>
		</div>
		<div class="pure-control-group">
			<label for="party">For Party :</label>
			<select id="party" name="partyId">
				<option selected="selected" value="0"></option>
				<option th:each="party:${partys}" th:selected="${party.id == price.partyId}" th:value="${party.id}" th:text="${party.name}"/>
			</select>
		</div>
		<div class="pure-controls">
			<input type="hidden" th:field="*{id}"/>
			<button type="submit" class="pure-button pure-button-primary" autofocus="autofocus">Save</button>
		</div>
	</fieldset>
	</form>
	</div>
	<th:block th:include="footer"/>
</body>
</html>