<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<div th:include="menu"></div>
	<form th:action="@{/roles/edit}" role="form" th:object="${role}">
	<table style="border: none;width: 100%">
	<tbody>
	<tr>
		<td width="38%" valign="top">
			<table border="0" width="100%">
			<tr>
				<td width="13%" align="right">Code :</td>
				<td width="87%"><input type="text" th:field="${role.code}" name="code" size="50"/></td>
			</tr>
			<tr>
				<td align="right">Name :</td>
				<td><input type="text" th:field="${role.name}" name="name" size="50"/></td>
			</tr>
			</table>
		</td>
		<td width="62%" align="left">
		<fieldset>
			<legend>Access</legend>
			<table border="0">
			<thead>
			<tr>
				<th>Module</th>
				<th>Create</th>
				<th>Read</th>
				<th>Update</th>
				<th>Delete</th>
				<th>Print</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="access,stat :*{accesses}">
				<td th:text="${access.moduleName}" align="right"/>
				<td align="center">
					<input type="checkbox" th:field="*{accesses[__${stat.index}__].canCreate}" value="true"/>
				</td>
				<td align="center">
					<input type="checkbox" th:field="*{accesses[__${stat.index}__].canRead}" value="true"/>
				</td>
				<td align="center">
					<input type="checkbox" th:field="*{accesses[__${stat.index}__].canUpdate}" value="true"/>
				</td>
				<td align="center">
					<input type="checkbox" th:field="*{accesses[__${stat.index}__].canDelete}" value="true"/>
				</td>
				<td align="center">
					<input type="checkbox" th:field="*{accesses[__${stat.index}__].canPrint}" value="true"/>
				</td>
			</tr>
			</tbody>
			</table>
		</fieldset>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="hidden" th:field="${role.id}" th:value="${role.id}"/>
			<button type="submit" style="width:50%;">Save</button>
		</td>
	</tr>
	</tbody>
	</table>
	</form>
</body>
</html>