<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Role Form</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<fieldset>
		<div class="rcrumbs" id="breadcrumbs">
        	<ul>
            	<li><a th:href="@{/roles/list}">List</a><span class="divider">></span></li>
            	<li><a>Form</a></li>
        	</ul>
        </div>
		<form class="pure-form pure-form-aligned" th:action="@{/roles/edit}" method="post" th:object="${role}">
			<div class="pure-control-group">
				<label for="code">Code</label>
				<input type="text" th:field="*{code}"/>
			</div>
			<div class="pure-control-group">
				<label for="name">Name</label>
				<input type="text" th:field="*{name}"/>
			</div>
			<div class="pure-controls">
				<table class="pure-table pure-table-bordered pure-table-striped">
				<thead>
				<tr><th colspan="6">Module Access</th></tr>
				<tr>
					<th>Module</th>
					<th>Create</th>
					<th>Read</th>
					<th>Update</th>
					<th>Delete</th>
					<th>Print</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="access,stat :*{accesses}">
					<td align="right">
						<th:block th:text="${access.moduleName}"/>
						<input type="hidden" th:field="*{accesses[__${stat.index}__].id}" th:value="*{accesses[__${stat.index}__].id}"/>
						<input type="hidden" th:field="*{accesses[__${stat.index}__].moduleId}" th:value="*{accesses[__${stat.index}__].moduleId}"/>
						<input type="hidden" th:field="*{accesses[__${stat.index}__].moduleName}" th:value="*{accesses[__${stat.index}__].moduleName}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canCreate}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canRead}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canUpdate}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canDelete}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canPrint}"/>
					</td>
				</tr>
				</tbody>
				</table>
			</div>
			<div class="pure-controls">
				<input type="hidden" th:field="*{id}"/>
				<button type="submit" autofocus="autofocus" class="pure-button pure-button-primary">Save</button>
			</div>
		</form>
		</fieldset>
	</div>
</body>
</html>