<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Role</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<h2>Role Management</h2>
		<div><a th:href="@{/roles/preadd}">New Role</a></div>
		<table class="pure-table pure-table-bordered pure-table-striped">
	    <thead>
	    <tr>
	    	<th>Code</th>
	        <th>Name</th>
	        <th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
		<tr th:each="role:${roles}">
	    	<td th:text="${role.code}"/>
	        <td th:text="${role.name}"/>
	        <td>
	        	<a th:href="@{'/roles/preedit/'+${role.id}}">Edit</a>
	        	&nbsp;|&nbsp;
	        	<a th:href="@{'/roles/delete/'+${role.id}}">Delete</a>
	        </td>
	    </tr>
	    </tbody>
	    </table>
    </div>
</body>
</html>