<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Role Form</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<form class="pure-form pure-form-aligned" th:action="@{/roles/edit}" role="form" th:object="${role}">
		<fieldset>
			<div class="pure-control-group">
				<label for="code">Code</label>
				<input type="text" th:field="*{code}" name="code"/>
			</div>
			<div class="pure-control-group">
				<label for="name">Name</label>
				<input type="text" th:field="*{name}" name="name"/>
			</div>
			<div class="pure-controls">
				<table class="pure-table pure-table-bordered pure-table-striped">
				<thead>
				<tr><th colspan="6">Module Access</th></tr>
				<tr>
					<th>Module</th>
					<th>Create</th>
					<th>Read</th>
					<th>Update</th>
					<th>Delete</th>
					<th>Print</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="access,stat :*{accesses}">
					<td align="right">
						<th:block th:text="${access.moduleName}"/>
						<input type="hidden" th:field="*{accesses[__${stat.index}__].id}" th:value="*{accesses[__${stat.index}__].id}"/>
						<input type="hidden" th:field="*{accesses[__${stat.index}__].moduleId}" th:value="*{accesses[__${stat.index}__].moduleId}"/>
						<input type="hidden" th:field="*{accesses[__${stat.index}__].moduleName}" th:value="*{accesses[__${stat.index}__].moduleName}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canCreate}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canRead}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canUpdate}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canDelete}"/>
					</td>
					<td align="center">
						<input type="checkbox" th:field="*{accesses[__${stat.index}__].canPrint}"/>
					</td>
				</tr>
				</tbody>
				</table>
			</div>
			<div class="pure-controls">
				<input type="hidden" th:field="${role.id}" th:value="${role.id}"/>
				<button type="submit" class="pure-button pure-button-primary">Save</button>
			</div>
		</fieldset>
		</form>
	</div>
</body>
</html>