<link rel="stylesheet" th:href="@{/css/pure-min.css}"/>
<link rel="stylesheet" th:href="@{/css/base-min.css}"/>
<link rel="stylesheet" th:href="@{/css/menus-min.css}"/>
<link rel="stylesheet" th:href="@{/css/tables-min.css}"/>
<link rel="stylesheet" th:href="@{/css/forms-min.css}"/>
<link rel="stylesheet" th:href="@{/css/buttons-min.css}"/>
<link rel="stylesheet" th:href="@{/css/jqueryuitheme.css}"/>
<link rel="stylesheet" th:href="@{/css/belian.css}"/>
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/jqueryui.js}"></script>
<script th:src="@{/js/yui-min.js}"></script>