<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>Tax</title>
	<th:block th:include="static"/>
	<th:block th:include="script"/>
</head>
<body>
	<div th:include="menu"></div>
	<div class="content ui-widget-content">
		<h2>Tax Management</h2>
		<div><a th:href="@{/taxs/preadd}">New Tax</a></div>
		<table class="pure-table pure-table-bordered pure-table-striped">
	    <thead>
	    <tr>
	    	<th>Name</th>
	    	<th>Value</th>
	        <th>Description</th>
	    	<th>&nbsp;</th>
	    </tr>
	    </thead>
	    <tbody>
		<tr th:each="tax:${taxs}">
	        <td th:text="${tax.name}"/>
	        <td th:text="${tax.value}"/>
	        <td th:text="${tax.note}"/>
	        <td>
	        	<a class="ui-icon ui-icon-pencil" th:href="@{'/taxs/preedit/'+${tax.id}}">Edit</a>
	        	<a class="remove-dialog-link ui-icon ui-icon-trash" th:attr="target=@{'/taxs/delete/'+${tax.id}}">Delete</a>
	        </td>
	    </tr>
	    </tbody>
	    </table>
    </div>
    <th:block th:include="footer"/>
    <th:block th:include="dialog"/>
</body>
</html>