<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="UTF-8"/>
	<title>User Form</title>
	<th:block th:include="static"/>
</head>
<body>
	<th:block th:include="menu"/>
	<div class="content ui-widget-content">
		<h2>User Management</h2>
		<form id="userForm" class="pure-form pure-form-aligned" th:action="@{/users/add}" method="post" th:object="${user}">
		<fieldset>
			<div class="pure-control-group">
				<label for="username">Username</label>
				<input id="username" type="text" th:field="*{name}" name="name"/>
			</div>
			<div class="pure-control-group">
				<label for="email">Email</label>
				<input id="email" type="email" th:field="*{email}" name="email"/>
			</div>
			<div class="pure-control-group">
				<label for="password">Password</label>
				<input id="password" type="password" th:field="*{password}" name="password"/>
			</div>
			<div class="pure-control-group">
				<label for="re-password">Re-type Password</label>
				<input id="re-password" type="password" th:field="*{rePassword}"/>
			</div>
			<div class="pure-control-group">
				<label for="status">Status</label>
				<input id="status" type="checkbox" th:field="*{enabled}" name="enabled"/>&nbsp;Active
			</div>
			<div class="pure-controls">
				<table class="pure-table pure-table-bordered pure-table-striped">
				<thead>
				<tr><th colspan="2">User Role</th></tr>
				</thead>
				<tbody>
				<tr th:each="role,stat:*{roles}">
					<td th:text="${role.roleName}"/>
					<td>
						<input type="checkbox" th:field="*{roles[__${stat.index}__].enabled}" value="false"/>&nbsp;Active
						<input type="hidden" th:field="*{roles[__${stat.index}__].id}"/>
						<input type="hidden" th:field="*{roles[__${stat.index}__].roleId}"/>
						<input type="hidden" th:field="*{roles[__${stat.index}__].roleName}"/>
					</td>
				</tr>
				</tbody>
				</table>
			</div>
			<div class="pure-controls">
				<button type="submit" class="pure-button pure-button-primary">Save</button>
			</div>
		</fieldset>
		</form>
	</div>
	<th:block th:include="footer"/>
</body>
</html>