<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/invoice.css}"/>
</head>
<body>
	<table>
	<thead>
	<tr style="border-bottom: solid silver 1px;">
		<th class="doc-head" th:text="${title}"/>
		<th align="right" width="30%">
			<table style="width: 100%" border="1">
				<tr><td>Nomor </td><td th:text="${inv.number}"/></tr>
				<tr><td>Tanggal </td><td th:text="${#dates.format(inv.date,'dd-MM-yyyy')}"/></tr>
				<tr><td>Jatuh Tempo </td><td th:text="${#dates.format(inv.getDueDate(),'dd-MM-yyyy')}"/></tr>
			</table>
		</th>
	</tr>
	<tr>
		<th style="text-align: left;">
				<table style="width: 100%">
					<tr><td>Pengirim</td></tr>
					<tr><td th:text="${inv.billedFromParty.value}"/></tr>
					<tr><td th:text="${inv.billedFromAddress?.value}"/></tr>
					<tr><td th:text="${inv.billedFromContact?.value}"/></tr>
				</table>
		</th>
		<th style="text-align: right;">
				<table style="width: 100%">
					<tr><td align="right">Penerima</td></tr>
					<tr><td th:text="${inv.billedToParty.value}"/></tr>
					<tr><td th:text="${inv.billedToAddress?.value}"/></tr>
					<tr><td th:text="${inv.billedToContact?.value}"/></tr>
				</table>
		</th>
	</tr>
	<tr><th colspan="2">&nbsp;</th></tr>
	</thead>
	<tbody>
	<tr>
		<td colspan="2">
			<table style="width: 100%">
			<thead style="border-bottom: solid silver 1px;">
				<tr>
					<th align="left">Barang/Jasa</th>
					<th align="right">Banyak</th>
					<th align="right">Total</th>
				</tr>
			</thead>
			<tbody style="border-bottom: solid silver 1px;">
			<tr th:each="item:${inv.items}">
				<td th:text="${item.getLabel(util.getLanguage())}"/>
				<td width="10%" align="right" th:text="${#numbers.formatDecimal(item.quantity,1,'POINT',0,'COMMA')}"/>
				<td width="10%" align="right" th:text="${#numbers.formatDecimal(item.amount,1,'POINT',0,'COMMA')}"/>
			</tr>
			</tbody>
			<tfoot>
			<tr>
				<td >&nbsp;</td>
				<td align="right" style="font-weight: bolder;">Subtotal</td>
				<td align="right" style="font-weight: bolder;" th:text="${#numbers.formatDecimal(inv.getSubtotal(),1,'POINT',0,'COMMA')}"/>
			</tr>
			</tfoot>
			</table>
		</td>
	</tr>
	</tbody>
	</table>
</body>
</html>